.msgSendForm{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.msgSendForm .waves-effect{
  position: absolute;
  right:0;
  top: 0;
}
#messages .list{
  text-align: left

}
#messages .mine{
  text-align: right;
}
