#messages{
  margin-bottom: 70px;
  overflow: hidden;
}

.msgSendForm{
  position: fixed;
  left: 0;
  padding-top: 50px;
  bottom: 0;
  width: 100%;

  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255, 1) 42%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 42%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 42%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.msgSendForm #m{
  padding-top: 5px;
  text-indent: 2%;
  margin-bottom: 10px;}
.msgSendForm .waves-effect{
  position: absolute;
  right: 2%;
  top: 55px;
  font-size: 12px;
  padding:0 1rem;

}
.msgSendForm i.right{
  margin-left: 5px;
}
#messages .list,
#messages .mine{
  display: table;
  clear: both;
  position: relative;
  margin: 10px 0;
}
#messages .list{
  float: left;

}
#messages .mine{
  float: right;
}
#messages time{
  font-size: 11px;}
#messages .state{
  border-radius: 13px;
  display: inline-block;
  background-color: darkred;
  color: #fff;
  font-size: 11px;
  width: 13px;
  text-align: center;
  height: 13px;
}
#messages .imgs{
  display: table-cell;
  font-size: 0;
  vertical-align: middle;
}
#messages .imgs img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
#messages .mine .state{
  display: none;}
#messages .message{
  padding: 0;
  margin: 0;
}
#messages .profile{
  display: table-cell;
  vertical-align: middle;
}

.message__unread {
  position: fixed;
  width: 96%;
  bottom: 60px;
  z-index: 100;
  border: 0;
  left: 2%;
}


/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown
}